<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <TargetFramework>net10.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishAot>true</PublishAot>
    <PublishTrimmed>true</PublishTrimmed>
    <TrimMode>full</TrimMode>
    <Optimize>true</Optimize>
    <OptimizationPreference>Speed</OptimizationPreference>
    <ServerGarbageCollection>true</ServerGarbageCollection>
    <IlcInstructionSet>x86-64-v3</IlcInstructionSet>
    <PublishDir>$(MSBuildProjectDirectory)\publish\native-aot\win-x64\</PublishDir>
  </PropertyGroup>
</Project>
